<div class="card mt-3">
    <div class="d-flex justify-content-between align-items-center p-3 bg-info">
        <h1 class="text-white">Cursos</h1>
        <button class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
    </div>
    
    <div class="card-body ">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of cursos">
                    <td>{{ curso.id }}</td>
                    <td>{{ curso.nome }}</td>
                    <td> 
                        <span class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary  me-2" (click)="Editar(curso.id)">Atualizar</button>
                            <button type="button" class="btn btn-danger" (click)="Excluir(curso.id)">Deletar</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  
    